@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --theme-background-color: rgb(15, 23, 36);
  --light-theme-background: rgb(40, 45, 80);
  --contentbackground: rgb(30, 41, 59);
  --searchcolor: rgb(248, 250, 252);
  --poppins: "Poppins", sans-serif;
  --theme-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

body {
  background-color: var(--theme-background-color);
  color: var(--theme-color);
}

#loader {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
}

#loader .center {
  display: grid;
  grid-template-areas: center-logo;
}

#loader .center img {
  width: 100px;
  height: 100px;
  border: 2px solid var(--theme-background-color);
  border-radius: 50%;
}

#loader .center div {
  grid-area: center-logo;
}

#loader .python-icon {
  transform: translate(-30vw, -30vh);
}

#loader .css-icon {
  transform: translate(30vw, -30vh);
}

#loader .html-icon {
  transform: translate(-30vw, 30vh);
}

#loader .js-icon {
  transform: translate(30vw, 30vh);
}

#loader .inialiyaar-icon {
  transform: scale(0.5);
  opacity: 0;
  animation: Logo-Popup 300ms ease-in 1200ms;
}

@keyframes MusicIconAnimate {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  
  50% {
    transform: translateX(30vw) scale(0.5);
  }
  
  100% {
    transform: translateX(0px);
  }
}

@keyframes AnimeIconAnimate {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  
  50% {
    transform: translateX(-30vw) scale(0.5);
  }
  
  100% {
    transform: translateX(0px);
  }
}

@keyframes Logo-Popup {
  0% {
    opacity: 1;
  }
  
  100% {
    transform: scale(10);
  }
}

@keyframes Logo-Center {
  80% {
    transform: translate(0px, 0px);
  }
  
  90% {
    transform: scale(0.5);
  }
  
  100% {
    opacity: 0;
  }
}

#loader .python-icon,
#loader .css-icon,
#loader .html-icon,
#loader .js-icon {
  animation: Logo-Center 300ms linear 100ms forwards;
}

#loader>.center>.music-icon {
  
  opacity: 0;
  animation: MusicIconAnimate 1s ease-in-out 450ms;
}

#loader>.center>.anime-icon {
  
  opacity: 0;
  animation: AnimeIconAnimate 1s ease-in-out 450ms;
}

.hero-pannel {
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  height: 100px;
  background-color: var(--contentbackground);
  border-radius: 10px;
  border: 1px solid var(--contentbackground);
}

.hero-pannel>.inialiyaar-icon {
  width: 70px;
  border-radius: 10px;
  border: 1px solid powderblue;
  margin-left: 5px;
}

.hero-pannel>.info>.description {
  font-size: 10px;
}

.hero-pannel>.info {
  margin-left: 10px;
}

.hero-pannel>.info>h1 {
  font-size: 25px;
  
}

header nav {
  height: 90px;
  width: 90%;
  background-color: var(--theme-background-color);
}

.about {
  height: 40px;
  margin: 30px 10px 0 0;
}

.about span {
  animation: Blinking 1s infinite;
}

@keyframes Blinking {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#search-input {
  width: 70vw;
  background-color: var(--contentbackground);
  color: var(--searchcolor);
  border: none;
  padding: 5px 20px;
  max-width: 400px;
  height: 40px;
  border-radius: 10px;
}

#search-input:hover {
  outline: none;
  background-color: var(--light-theme-background);
}

.exploreBtn {
  width: 80%;
  max-width: 500px;
}

.exploreBtn button {
  color: White;
  border: 2px solid White;
  background-color: var(--theme-background-color);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 17px;
}

.exploreBtn .active {
  background-color: var(--searchcolor);
  color: var(--theme-background-color);
}
.anime, .music {
  overflow: auto;
  margin-top: 10px;
}
.animeCard {
  margin-top: 20px;
  width: 80%;
  background-color: var(--contentbackground);
  min-height: 120px;
  border-radius: 10px;
  border: 1px solid var(--contentbackground);
  max-width: 500px;
}

.animeCard img {
  height: 100px;
  border-radius: 5px;
  margin-left: 10px;
}

.animeCard div {
  width: 68%;
  height: 100px;
  margin-left: 10px;
  overflow: hidden;
}

.animeCard p {
  font-size: 5px;
}

.musicCard {
  margin-top: 20px;
  width: 80%;
  background-color: var(--contentbackground);
  min-height: 120px;
  border-radius: 10px;
  border: 1px solid var(--contentbackground);
  max-width: 500px;
}
.musicCard div {
  height: 80px;
  width: 60%;
  margin-left: 5px;
  overflow: hidden;
  gap: 10px;
}
.musicCard img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-left: 10px;
}
.musicCard p:nth-child(2){
  opacity: 0.80;
  font-size: 14px;
  font-weight: bold;
}
.musicCard p:nth-child(3){
  font-size: 10px;
}

@media only screen and (orientation: landscape) {
  .animeCard div {
    gap: 10px;
  }
}