:root {
  --background-color: rgb(30,33,37);
  --navbackground: rgb(87,90,93);
  --navborder: 2px double rgb(208,210,212);
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: white;
}
#loading {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading .center {
  display: grid;
  grid-template-areas: center-logo;
}
#loading .center img {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}
#loading .center div {
  grid-area: center-logo;
}
#loading .python {
  transform: translate(-30vw, -30vh);
}
#loading .css {
  transform: translate(30vw, -30vh);
}
#loading .html {
  transform: translate(-30vw, 30vh);
}
#loading .js {
  transform: translate(30vw, 30vh);
}
#loading .logo {
  transform: scale(0.5);
  opacity: 0;
  animation: Logo-Popup 2s ease-in 2s ;
}
@keyframes Logo-Popup {
  80% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    transform: scale(10);
  }
}
@keyframes Logo-Center {
  60% {
    transform: translate(0px, 0px) rotate(360deg);
  }
  90% {
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}
#loading .python, #loading .css, #loading .html, #loading .js {
  animation: Logo-Center 2s ease-in-out forwards;
}
header nav {
  height: 15vh;
  width: 100%;
  background-color: var(--navbackground);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--navborder);
}
header nav span {
  font-size: 36px;
  padding-right: 5px;
  font-weight: bold;
}