@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
  --theme-background-color: rgb(15, 23, 36);
  --light-theme-background: rgb(40, 45, 80);
  --contentbackground: rgb(30, 41, 59);
  --searchcolor: rgb(248, 250, 252);
  --baloo2: "Baloo 2", sans-serif;
  --theme-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--baloo2);
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: var(--theme-background-color);
  color: var(--theme-color);
}
#loader {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader .center {
  display: grid;
  grid-template-areas: center-logo;
}
#loader .center img {
  width: 100px;
  height: 100px;
  border: 2px solid var(--theme-background-color);
  border-radius: 50%;
}
#loader .center div {
  grid-area: center-logo;
}
#loader .python-icon {
  transform: translate(-30vw, -30vh);
}
#loader .css-icon {
  transform: translate(30vw, -30vh);
}
#loader .html-icon {
  transform: translate(-30vw, 30vh);
}
#loader .js-icon {
  transform: translate(30vw, 30vh);
}
#loader .inialiyaar-icon {
  transform: scale(0.5);
  opacity: 0;
  animation: Logo-Popup 300ms ease-in 1200ms ;
}

@keyframes MusicIconAnimate {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(30vw) scale(0.5);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes AnimeIconAnimate {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(-30vw) scale(0.5);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes Logo-Popup {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(10);
  }
}
@keyframes Logo-Center {
  80% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
  }
}
#loader .python-icon, #loader .css-icon, #loader .html-icon, #loader .js-icon {
  animation: Logo-Center 300ms linear 100ms forwards;
}

#loader > .center > .music-icon {
  
  opacity: 0;
  animation: MusicIconAnimate 1s ease-in-out 450ms;
}

#loader > .center > .anime-icon {
  
  opacity: 0;
  animation: AnimeIconAnimate 1s ease-in-out 450ms;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header nav {
  height: 90px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#search-input {
  width: 60vw;
  background-color: var(--contentbackground);
  color: var(--searchcolor);
  border: none;
  padding: 5px;
  max-width: 400px;
  height: 40px;
  border-radius: 10px;
}
#search-input:hover{
  outline: none;
  background-color: var(--light-theme-background);
}
#menu-bar{
  height: 40px;
  background-color: var(--theme-background-color);
  border: none;
  color: white;
  font-size: 30px;
  position: relative;
  top: 8px;
  left: 30px;
}
.hero-pannel {
  width: 90%;
  height: 100px;
  background-color: var(--contentbackground);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.hero-pannel > .inialiyaar-icon {
  width: 70px;
  border-radius: 10px;
  border: 1px solid powderblue;
  margin-left: 5px;
}
.hero-pannel> .info >.description {
  font-size: 10px;
}
.hero-pannel> .info{
  margin-left: 10px;
}
.hero-pannel>.info> h1{
  font-size: 25px;
  font-family: Arial;
}

main section{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

main > section > .info{
  width: 300px;
  height: 520px;
  background-color: var(--contentbackground);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section .info > img {
  width: 260px;
  border-radius: 10px;
  border: 1px solid powderblue;
}
main > section > .info > div {
  margin: 10px 0;
}
main > section > .info h3 {
  background-color: rgba(255,255,255,0.75);
  display: inline;
  border-radius: 20px;
  padding: 1px 12px;
  margin: 0 8px;
  border: 1px solid gray;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial;
}

main > section > .info p {
  font-size: 12px;
}
main > section > .content {
  width: 80%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px){
  main > section > .content{
    grid-template-columns: 1fr;
  }
}
main > section > .content > a >div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--contentbackground);
  border-radius: 10px;
}

.hover:hover{
  border: 1px solid aqua;
}

main > section >.content > a{
  color: White;
  text-decoration: none;
}
#sideMenu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--contentbackground);
  transition: right 0.3s ease;
}
#sideMenu a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
  color: White;
}
#sideMenu button {
  margin: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid gray;
  border-radius: 10px;
  align-self: flex-end;
}
#sideMenu h3 {
  font-size: 30px;
  margin: 25px auto;
  font-family: Arial;
}

#sideMenu.active{
  right: 0;
}