* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}
.container > div > img {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
}
.container > .python {
  transform: translate(-40vw, -25vh);
}
.container > .css{
  transform: translate(40vw, -25vh);
}
.container > .html{
  transform: translate(-40vw, 25vh);
}
.container > .js{
  transform: translate(40vw, 25vh);
}
.container > .logo > img{
  position: relative; 
  z-index: 1;
  visibility: hidden;
  animation: PopUp 1s forwards linear 2s;
}
@keyframes PopUp {
  to {
    width: 150px;
    height: 150px;
    visibility: visible;
  }
}
@keyframes centerAnime {
  to {transform: translate(0px, 0px) rotate(360deg);}
}
.container > .python, .css, .js, .html {
  position: absolute;
  top: 46%;
  left: 153px;
  animation: centerAnime 2s forwards;
}